{% extends 'layout.html' %}

{% block head %}
{% endblock head %}


{% block content %}

    <h1>Login Page</h1>

    <form action="/handle_data" method="POST">

      <div class="form-group">
            <label for="username" class="form-control-label">User Name: </label>
            <input type="text" name="username" class="form-control form-control-lg">
        </div>
        <div class="form-group">
            <label for="password" class="form-control-label">password: </label>
            <input type="password" name="password" class="form-control form-control-lg">
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-outline-info">
        </div>
    </form>

{% endblock %}